
.cards {
  display: grid;
  gap: 16px;
}

.cards > div {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards h4 {
  margin-bottom: 8px;
  font-weight: bold;
}

.cards p {
  margin-bottom: 8px;
}

.cards a.button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

.cards a.button:hover,
.cards a.button:focus {
  opacity: 0.9;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
